<!DOCTYPE html>
<html lang="ru">
<head>
   {% block head %}
   <link href="{{ url_for('static', path='bootstrap.min.css') }}" rel="stylesheet">
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>{% block title %}{% endblock %}</title>
   {% endblock %}
</head>
<body>
   <div class="container-fluid">
      <div id="content">{% block content %}{% endblock %}</div>
      <div id="footer">
           {% block footer %}
           {% endblock %}
      </div>
   </div>
   <script src="{{ url_for('static', path='bootstrap.min.js') }}"></script>
</body>
</html>